<!DOCTYPE html>
<html>
<body>
<h1>Whats Cook</h1>

<p>Choose Request</p>

<form name="inputForm">
    <div>
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="ת.ז"  name="name" ng-model="inputValue" ng-focus="focus=true;blur=false;" ng-blur="focus=false;updateJsonPrams(0, inputValue)"-->
                   <!--ng-minlength="8" ng-maxlength="9" ng-pattern="/^[0-9]+$/" required>     -->
        <!--</div>-->
    </div>
</form>
</body>
</html>